# General
FRONT_END_URL=http://localhost:3000
FASTAPI_CHATBOT_URL=http://127.0.0.1:8000
NODE_ENV=development
PORT=5000
GEMINI_API_KEY=

# Production database URL (used in deploy)
DATABASE_URL=

# Use local DB
DB_USER=postgres
DB_HOST=localhost
DB_NAME=englishforce
DB_PASSWORD=
DB_PASSWORD_PRODUCTION=
DB_PORT=5432

JWT_SECRET=
REFRESH_TOKEN_SECRET=your_refresh_token_secret


# Stripe Payment
STRIPE_WEBHOOK_SECRET=
# STRIPE_SECRET_KEY=
STRIPE_SECRET_KEY=


# OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

# Cloudinary 
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=